<div class="themeswitcher">
    <a class="theme-switch" title="Switch Theme">
        <i class="fa fa-adjust fa-fw" aria-hidden="true"></i>
    </a>
</div>

<!--<div class="lang-choser is-hidden-touch">-->
<!--    {{ if .IsTranslated -}}-->
<!--    {{ $currentLang := .Site.Language.Lang -}}-->
<!--    {{ if eq $currentLang "en" -}}-->
<!--    <img class="lang is-lang-switcher" src="/img/flag-ro.svg" alt="RO" data-lang="ro">-->
<!--    {{ else -}}-->
<!--    <img class="lang is-lang-switcher" src="/img/flag-en.svg" alt="US" data-lang="en">-->
<!--    {{ end -}}-->
<!--    {{ end -}}-->
<!--</div>-->