{{ partial "head.html" . -}}

{{ partial "navbar.html" . -}}

{{- partial "navbar-elements.html" . -}}

<main id="main" class="blog">
    <!-- banner -->
    <section class="banner bg-cover">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <h1 class="display-4 my-5 my-lg-6 pb-lg-4 text-center">{{ if not .IsHome }}{{ .Title }}{{ else }}{{ .Site.Title }}{{ end }}</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- /banner -->

    <!-- blog -->
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto px-0">
                    <div class="bg-white shadow block">
                        {{ if .Params.content }}{{ .Params.content }}{{ end }}
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{{ partial "footer.html" . -}}
