<article>
    <h2 class="h4">
        <a class="text-dark" href="{{ .Permalink }}">Laboriosam eos aperiam excepturi accusamus velit repudiandae sit rem incidunt</a>
    </h2>
    <div class="mb-3 post-meta">
        <span>{{ .Site.Params.Author | title }}</span>,
        {{ .PublishDate.Format "02/01/2006" }}
    </div>
    <p>Laboriosam eos aperiam excepturi accusamus velit repudiandae sit rem incidunt, similique facere quas blanditiis.</p>
    <a href="{{ .Permalink }}" class="btn btn-sm btn-outline-primary">read more</a>
</article>